<a href="https://colab.research.google.com/github/apicem7217/Clase-5/blob/Phyton/Ch08_1_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 8 Lists
<a href="https://colab.research.google.com/github/rambasnet/FDSPython-Notebooks/blob/master/Ch08-1-Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- http://openbookproject.net/thinkcs/python/english3e/lists.html

## Topics
- list data structure
- syntax to create lists
- methods or operations provided to list objects
- list operators
- list traversal
- list applications and problems

## 8.1 Lists
- a type of sequence or container
- ordered collection of values called elements or items
- lists are similar to strings (ordered collections of characters) except that elements of a list can be of any type

## 8.2 Creating lists
- several ways; the simplest is to enclose the elements in square brackets [ ]

In [ ]:
alist = [] # an empty list

In [ ]:
blist = list() # an empty list

In [ ]:
type(alist)

list

In [ ]:
# creating lists with some elements of same type
list1 = [10, 20, 30, 40]
list2 = ['spam', 'bungee', 'swallow']

In [ ]:
# lists with elements of different types
list3 = ["hello", 2.0, 10, [10, ('hi', 'world'), 3.5], (1, 'uno')]

In [ ]:
# print list
print(list3)

['hello', 2.0, 10, [10, ('hi', 'world'), 3.5], (1, 'uno')]

In [ ]:
# quickly create a list of range of numbers between 1 and 19
list4 = list(range(1, 20, 1))

In [ ]:
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# print multiple lists
print(alist, list1, list2, list3)

[] [10, 20, 30, 40] ['spam', 'bungee', 'swallow'] ['hello', 2.0, 10, [10, ('hi', 'world'), 3.5], (1, 'uno')]

In [ ]:
# Exercise: create a list of even numbers between 1 and 20 inclusive

In [ ]:
# Exercise: create a list of odd numbers between 1 and 20 inclusive

In [ ]:
# Exercise: create a list of numbers from 20 to 1 inclusive

## 8.3 Accessing elements
- same syntax for accessing characters of a string, the index operator: ['index']

In [ ]:
# let's see what elements are in list1
list1

[10, 20, 30, 40]

In [ ]:
# access an element, which one?
list1[0]

10

In [ ]:
list3

['hello', 2.0, 10, [10, ('hi', 'world'), 3.5], (1, 'uno')]

In [ ]:
list3[2-2]

'hello'

In [ ]:
# list index can be variable as well
index = 0
print(list3[index])

hello

In [ ]:
# can you use float value as an index?
list3[1.0]

TypeError: ignored

In [ ]:
# how many elements are there in list3?
len(list3)

5

In [ ]:
# what happens if you access an index equal to the size of the list
list3[5]

IndexError: ignored

In [ ]:
list3

['hello', 2.0, 10, [10, ('hi', 'world'), 3.5], (1, 'uno')]

In [ ]:
# Ejercicio: accede e imprime el último elemento de list3
elemento = list3[-1]
elemento

(1, 'uno')

In [ ]:
# Exercise - access and print 'world' in list3
elemento = list3[3][1][1]
elemento

'world'

## 8.4 Afiliación
comprobar si algún dato/objeto es un miembro/elemento en la lista dada
en y no en operadores booleanos vamos a verificar la membresía

In [ ]:
horsemen = ["war", "famine", "pestilence", ["death"]]
'death' in horsemen

False

In [ ]:
'War' not in horsemen

True

In [ ]:
["death"] in horsemen

True

## 8.5 Listas de desplazamiento
for o while loop se puede usar para recorrer cada elemento de una lista

In [ ]:
list3

['hello', 2.0, 10, [10, ('hi', 'world'), 3.5], (1, 'uno')]

In [ ]:
# common technique; use for loop
for item in list3:
    print(item)

In [ ]:
for item in list3:
    if isinstance(item, list) or isinstance(item, tuple):
        for l in item:
            print(l)
    else:
        print(item)

hello
2.0
10
10
('hi', 'world')
3.5
1
uno

In [ ]:
horsemen = ["war", "famine", "pestilence", "death"]
for i in [0, 1, 2, 3]:
    print(horsemen[i])
# better way to do the same thing?

war
famine
pestilence
death

In [ ]:
print("traversing using indices")
for i in range(len(horsemen)):
    print(horsemen[i])

traversing using indices
war
famine
pestilence
death

In [ ]:
print('traversing each element')
for ele in horsemen:
    print(ele)

traversing each element
war
famine
pestilence
death

## 8.6 operadores de lista
- El operador \+ concatena dos listas y da una lista más grande
- El operador \* repite una lista de elementos un número dado de veces

In [ ]:
list2

In [ ]:
list3

['hello', 2.0, 10, [10, ('hi', 'world'), 3.5], (1, 'uno')]

In [ ]:
list4 = list2 + list3

In [ ]:
list4

['spam',
 'bungee',
 'swallow',
 'hello',
 2.0,
 10,
 [10, ('hi', 'world'), 3.5],
 (1, 'uno')]

In [ ]:
[0]*10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
a = [1, 2, 3]*4

In [ ]:
a

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
b = [a]*3

In [ ]:
b

[[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3],
 [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3],
 [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]]

In [ ]:
# 2-D list or matrix
matrix = [[1, 2], [3, 4], [5, 6]]

In [ ]:
print(matrix)

[[1, 2], [3, 4], [5, 6]]

In [ ]:
matrix

[[1, 2], [3, 4], [5, 6]]

In [ ]:
# How do you replace 5 with 50 in matrix?
matrix[2][0] = 50

In [ ]:
matrix

[[1, 2], [3, 4], [50, 6]]

## 8.7 Listas de corte
todas las operaciones de división que funcionan con cadenas también funcionan con listas

sintaxis: [startIndex : endIndex : paso]

startIndex es inclusivo; endIndex es exclusivo;
el paso es opcional por defecto

In [ ]:
# create a list of lower-case alphabets
alphas = ['a', 'b', 'c', 'd', 'e', 'f', 'g'] # add the rest...

In [ ]:
alphas

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
# there's better way to create lists of all lowercase ascii
import string
alphas = list(string.ascii_lowercase)

In [ ]:
print(alphas[:])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [ ]:
print(alphas[::3])

['a', 'd', 'g', 'j', 'm', 'p', 's', 'v', 'y']

In [ ]:
print(alphas[1:3])

['b', 'c']

In [ ]:
print(alphas[::-1])

['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

## 8.8 Lists and strings
- match made in heaven - work together really well :)

In [ ]:
# convert string to list of characters
alphaList = list(string.ascii_lowercase)

In [ ]:
alphaList

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [ ]:
# convert list to string by joining pairs of chars with a delimiter
alphaStr = '|'.join(alphaList)

In [ ]:
alphaStr

'a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z'

## 8.9 las listas son mutables
podemos cambiar/reemplazar/actualizar los elementos de la lista en su lugar

In [ ]:
names = ["john", "David", "Alice"]
names[0] = "jake"

In [ ]:
names

['jake', 'David', 'Alice']

In [ ]:
# How to correct spelling of jake?
names[0][0]

'j'

In [ ]:
names[0][0] = 'J'

TypeError: ignored

In [ ]:
names[0] = 'Jake'

In [ ]:
names

['Jake', 'David', 'Alice']

In [ ]:
alphas

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [ ]:
alphas[:4] = ['A', 'B', 'C', 'D']

In [ ]:
alphas

['A',
 'B',
 'C',
 'D',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [ ]:
alphas[:4] = []

In [ ]:
alphas

['e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

## 8.10 Eliminación de elementos de la lista
- la instrucción del elimina un elemento de una lista dado su índice

In [ ]:
alphas

['e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [ ]:
del alphas[0]

In [ ]:
alphas

['f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [ ]:
del alphas[26]

IndexError: ignored

In [ ]:
alphas.index('z')

20

In [ ]:
alphas.index(alphas[-1])

20

In [ ]:
del alphas[1:3]

In [ ]:
alphas

['f',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [ ]:
indexOfZ = alphas.index('z')
del alphas[indexOfZ]

In [ ]:
print(alphas)

['f', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y']

## 8.11 Objetos y referencias
- El operador **is** se puede usar para probar si dos objetos hacen referencia a la misma ubicación de memoria
     - lo que significa que son esencialmente el mismo objeto con los mismos valores

In [ ]:
# even though a and b are two separate objects is still evaluates to True
a = 'apple'
b = 'apple'
a is b

True

In [ ]:
# even though c and d are two separate objects is still evaluates to True
c = 10
d = 10
c is d

True

In [ ]:
# what abut tuple?
e = (1, 2)
f = (1, 2)
print(e == f)
print(e is f)

True
False

In [ ]:
# What about lists?
l1 = [1, 2, 3]
l2 = [1, 2, 3]
print(l1 == l2)
print(l1 is l2)

True
False

## 8.12 Copying lists (Shallow copy vs Deep copy)
- see [PythonTutor.com to visualize aliasing](http://pythontutor.com/visualize.html#code=import%20copy%0A%0Aa%20%3D%20%5B1,%20%5B2,%203%5D%5D%0Ab%20%3D%20a%0Ac%20%3D%20a.copy%28%29%0Ad%20%3D%20a%5B%3A%5D%0Af%20%3D%20copy.deepcopy%28a%29&cumulative=false&curInstr=0&heapPrimitives=false&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)
- assignment *=* operator does shallow copy

In [ ]:
a = [1, 2, 3]
b = a
print(a is b)
print(a == b)

True
True

In [ ]:
b[0] = 10
print(a)
print(b)

[10, 2, 3]
[10, 2, 3]

In [ ]:
# How do you actually clone lists - do a deep copy?
c = a[:] # easy way shallow copy
d = a.copy() # shallow copy
import copy
e = copy.deepcopy(b)

In [ ]:
c is a

False

In [ ]:
d is a

False

In [ ]:
b is e

False

## 8.13 List methods
- list objects have a bunch methods that can be invoked to work with list
- run help(list)

In [ ]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
a = []
a.append(1)
a.append(2)
a.append([2, 3])

In [ ]:
a

[1, 2, [2, 3]]

In [ ]:
a.extend([3, 4])

In [ ]:
a

[1, 2, [2, 3], 3, 4]

In [ ]:
a.append([5, 6])

In [ ]:
a

[1, 2, [2, 3], 3, 4, [5, 6]]

In [ ]:
a.insert(0, 'hi')

In [ ]:
a

['hi', 1, 2, [2, 3], 3, 4, [5, 6]]

In [ ]:
a.reverse()

In [ ]:
a[0].reverse()

In [ ]:
a

[[6, 5], 4, 3, [2, 3], 2, 1, 'hi']

In [ ]:
a.sort()

TypeError: ignored

In [ ]:
blist = list(range(10, 0, -1))

In [ ]:
blist

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
blist.sort()

In [ ]:
print(blist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
blist.sort(reverse=True)

In [ ]:
blist

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
m = max(blist)
mI = blist.index(m)

In [ ]:
print(mI)

0

In [ ]:
min(blist)

1

In [ ]:
print(blist.count(100))

0

## 8.14 List applications

### convert a string to list of integers

In [ ]:
nums = input('Enter 5 numbers separated by space: ')

Enter 5 numbers separated by space: 4 3 7 8 9

In [ ]:
nums

'4 3 7 8 9'

In [ ]:
nums = nums.split(' ')

In [ ]:
nums

['4', '3', '7', '8', '9']

In [ ]:
intNums = []
for n in nums:
    intN = int(n)
    intNums.append(intN)

In [ ]:
intNums

[4, 3, 7, 8, 9]

In [ ]:
intNums.sort()

In [ ]:
intNums

[3, 4, 7, 8, 9]

### convert list of integers to string

In [ ]:
strNum = []
for n in intNums:
    strNum.append(str(n))

In [ ]:
strNum

['3', '4', '7', '8', '9']

In [ ]:
strNum = ' '.join(strNum)

In [ ]:
strNum

['3', '4', '7', '8', '9']

## 8.15 Passing list to function - pass-by-reference
- mutable types such as list are passed-by-reference
- an alias or reference is passed instead of a copy of the data

In [ ]:
def getData(someList):# someList is formal parameter
    for i in range(5):
        a = int(input('enter a number: '))
        someList.append(a)

In [ ]:
alist = []
getData(alist) # alist is actual argument

enter a number: 3
enter a number: 5
enter a number: 7
enter a number: 8
enter a number: 2

In [ ]:
# when formal parameter is updated, actual parameter is also updated
alist

[3, 5, 7, 8, 2]

### [visualize - pass-by-reference with pythontutor.com](http://pythontutor.com/visualize.html#code=def%20getData%28someList%29%3A%23%20someList%20is%20formal%20parameter%0A%20%20%20%20for%20i%20in%20range%285%29%3A%0A%20%20%20%20%20%20%20%20a%20%3D%20int%28input%28'enter%20a%20number%3A%20'%29%29%0A%20%20%20%20%20%20%20%20someList.append%28a%29%0A%0Aalist%20%3D%20%5B%5D%0AgetData%28alist%29%20%23%20alist%20is%20actual%20argument&cumulative=false&curInstr=0&heapPrimitives=false&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)

## 8.16 return list from functions
- lists can be returned from functions

In [ ]:
def getMaxMin(alist):
    m = max(alist)
    minVal = min(alist)
    return [m, minVal]

In [ ]:
alist = list(range(-1000, 2000000))
print(getMaxMin(alist))

[1999999, -1000]

In [ ]:
assert getMaxMin(alist) == [1999999, -1000]

## 8.17 Casting lista en tupla y viceversa
- dado que las tuplas son inmutables, puede ser beneficioso convertirlas en listas y actualizarlas
- puede volver a convertir la lista a tupla nuevamente

In [ ]:
atuple = (1, 2, 3)
alist = list(atuple)
print(alist)

[1, 2, 3]

In [ ]:
btuple = tuple(alist)

In [ ]:
print(btuple)

(1, 2, 3)

In [ ]:
atuple == btuple

True

In [ ]:
# eventhough the elements are equal; the types of two objects are not
print(atuple, alist)
print(atuple == alist)

(1, 2, 3) [1, 2, 3]
False

## 8.18 Exercises
1. Realiza un programa que calcula la suma de todos los elementos de una lista

In [ ]:
lista = [5, 10]



print("La suma de los elementos de la lista es:", suma)

La suma de los elementos de la lista es: 15

2. Realiza un programa que encuentra el número máximo en una lista de números

In [ ]:
lista = [17, 12, 25, 8, 31, 19]



print("El número máximo en la lista es:", maximo)

El número máximo en la lista es: 31